body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #666666;
  border-top: 4px solid #eb68af;
  margin: 0; padding: 0;
  background: #f3f3f3 url('../images/body-bg.png') 0 0 repeat;
}

.page {
  margin: 0 auto;
  width: 960px;
}

header {
  width: 100%;
  position: relative;
}
.logo {
  margin: 0;
  padding: 25px 0 0px;
}
.head-content {
  position: relative;
  float: none;
  clear: both;
}